.title {
    position: fixed;
    top: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    color: black;
    background-color: white;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: bold;
}
