.title {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: black;
    background-color: white;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: bold;
    z-index: 1000;
    padding: 10px;
}
