.title {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: black;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: bold;
}
