.sectionTitle{
    position: absolute;
    top: 325px;
    left: 18%;  
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: black;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
}

.CategoriaContainer{
    position: absolute;
    top: 43%;
    left: 0;
    display: flex; /* Usamos Flexbox */
    flex-wrap: wrap; /* Permitir que los elementos bajen a la siguiente fila si no caben */
    gap: 20px; /* Espaciado entre las tarjetas */
    justify-content: center;
}